#questions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#qs {
  width: 210px;
  padding: 30px 5px;
  margin: 30px;
  background-color: #3072c2;
  color: white;
  border-radius: 10px;
  align-content: center;
}
#qs:hover {
  background-color: #275fa3;
  cursor: pointer;
}